/* 
    Background Color: --bg-dark: #660000;
    
*/

*,head {
    margin: 0;
    padding: 0;
} 
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-light);
}
:root{
    --bg-dark: #660000;
    --bg-light: #ffe6e6;
    --text-dark: #2d0000;
    --text-light: #ffe6e6;
    --hover-color: #ffb3d1;
    --fontDancing: 'Dancing Script';
    --fontGreat: 'Great Vibes';
    --fontGaba: 'Gabarito';
    --fontPoppins: 'Poppins';
    --fontAgba: 'Agbalumo';
    --fontTrig: 'Trirong';
}
.title {
    font-family: var(--fontGreat);
    font-size: 25px;
    color: var(--text-light);
    margin-top: 1.1em;
    padding-left: 1em;
}
.navbar-content {
    background-color: var(--bg-dark);
}   
.navbar-content ul, li {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-content li {
    list-style: none;
}
.navbar-content a {
    color: var(--text-light);
    font-family: var(--fontGaba);
    display: block;
    line-height: 3em;
    padding: 1em 2em;
    text-decoration: none;
}
.navbar-content li:first-child {
    margin-right: auto;
}
.link a:hover {
    color: var(--hover-color);
}
