/* 
    Background Color: --bg-dark: #660000;
    
*/

*,head {
    margin: 0;
    padding: 0;
} 
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-light);
}
:root{
    --bg-dark: #660000;
    --bg-light: #ffe6e6;
    --text-dark: #2d0000;
    --text-light: #ffe6e6;
    --hover-color: #ffb3d1;
    --fontDancing: 'Dancing Script';
    --fontGreat: 'Great Vibes';
    --fontGaba: 'Gabarito';
    --fontPoppins: 'Poppins';
    --fontAgba: 'Agbalumo';
    --fontTrig: 'Trirong';
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 60px;
}
/* .title {
    font-family: var(--fontGreat);      NO NEED TO ADD TITLE FOR NOW ON NAVBAR (LOGO IMAGE ALREADY ON DISPLAY)
    font-size: 25px;
    color: var(--text-light);
    margin-left: 1em;
}*/
.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    background-color: var(--bg-dark);
}   
.navbar-content ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-content li {
    list-style: none;
}
.navbar-content a {
    color: var(--text-light);
    font-family: var(--fontGaba);
    display: block;
    line-height: 3em;
    padding: 1em 2em;
    text-decoration: none;
}
.navbar-content li:first-child {
    margin-right: auto;
}
.link a:hover {
    color: var(--hover-color);
}

@media (max-width: 768px) {
    .navbar-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-content ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-content a {
        padding: 1em;
        width: 100%;
    }
}
