/* 
    Background Color: --bg-dark: #660000;
    
*/

*,head {
    margin: 0;
    padding: 0;
} 
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-light);
}
:root{
    --bg-dark: #660000;
    --bg-light: #ffe6e6;
    --text-dark: #2d0000;
    --text-light: #ffe6e6;
    --hover-color: #ffb3d1;
    --fontDancing: 'Dancing Script';
    --fontGreat: 'Great Vibes';
    --fontGaba: 'Gabarito';
    --fontPoppins: 'Poppins';
    --fontAgba: 'Agbalumo';
    --fontTrig: 'Trirong';
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 60px;
}
/* .title {
    font-family: var(--fontGreat);      NO NEED TO ADD TITLE FOR NOW ON NAVBAR (LOGO IMAGE ALREADY ON DISPLAY)
    font-size: 25px;
    color: var(--text-light);
    margin-left: 1em;
}*/
.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    background-color: var(--bg-dark);
}   
.navbar-content ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-content li {
    list-style: none;
}
.navbar-content a {
    color: var(--text-light);
    font-family: var(--fontGaba);
    display: block;
    line-height: 3em;
    padding: 1em 2em;
    text-decoration: none;
}
.navbar-content li:first-child {
    margin-right: auto;
}
.link a:hover {
    color: var(--hover-color);
}

/* TOOLTIP */

.tooltip {
    position: relative;
    display: inline-block;
}
.tooltiptext {
    visibility: hidden;
    font-family: var(--fontGaba);
    color: var(--text-dark);
    background-color: var(--bg-light);
    width: 120px;
    text-align: center;
    padding: 3px 5px;
    border: 3px solid;
    border-color: var(--bg-dark);
    border-radius: 10px;

    position: absolute;
    z-index: 1;
    bottom: -17%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}